.small {
    line-height: 0.7;
}

.col-sm-7 {
    display: inline-block;
    font-size: 15px;
}

.cost {
    display: inline-block;
}

strong, h1, h2, th {
    color: rgb(12, 97, 254);
}

.tableDetail {
    list-style-type: none;
    text-align: center;
    top: 50%;
    left: 50%;
}

.btn btn-primary col-sm-3 {
    position:relative;
    left:80px;
    top:2px;
    padding: inherit;
}

.form-control form-control-lg {
    font-size: 25px;
    display: inline-block;
}

.searchList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchListItems, .searchListItems:hover{
    padding: 0;
    text-decoration: none;
    border: none;
    background: none;
    outline: inherit;
}

.scrollBox {
    height: 150px;
    overflow-y: auto;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 15px;
}
